@charset "UTF-8";
:root {
  /*===background-color================================ */
  --main-header-background-size: #ffffff;
  --main-background-section-one: #2F303A;
  --main-background-section-two: #E5E5E5;
  --main-background-section-button: #F5F4FA;
  --main-background-hooter-color: #2F303A;
  /*===font color===================================== */
  --logo-color-blue-blue: #2196F3;
  --primary-text-color: #757575;
  --border-top-color: #212121;
  /*===homepage button color===========================*/
  --homepage-button-color: #188CE8;
  /*===font============================================*/
  --font-family: "Roboto";
  --font-releway: "Raleway";
  --font-style: normal;
  --font-weight700: 700;
  --font-weight500: 500;
  --font-weight400: 400;
  --font-size14: 14px;
  --font-size26: 26px;
  --font-size36: 36px;
  ---font-size14: 14px;
  --shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  --transition-duration: 2s;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.flex {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  font-style: normal;
  list-style: none;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.borhed {
  border-bottom: solid 1px #EEEEEE;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
  margin: auto;
}

.br-button {
  margin-bottom: 50px;
  margin-left: 280px;
}

.gap {
  gap: 30px;
}

.list {
  list-style: none;
  text-decoration: none;
  font-family: inherit;
  display: flex;
}

.none {
  display: none;
}

body {
  box-sizing: initial;
  background-color: var(--main-header-background-size);
  color: var(--border-top-color);
  font-family: var(--font-family);
  font-style: normal;
  font-size: 14px;
  font-weight: 500;
  margin: 0;
}

button {
  cursor: pointer;
}

body:focus {
  transition: var(--transition-dur-and-func);
}

.logo {
  text-decoration: none;
  display: flex;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo-Wed {
  font-family: var(--font-releway);
  color: var(--logo-color-blue-blue);
  font-weight: var(--font-weight700);
  font-size: var(--font-size26);
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-Studio {
  font-family: var(--font-releway);
  color: var(--border-top-color);
  font-weight: var(--font-weight700);
  font-size: var(--font-size26);
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.menu__item {
  position: relative;
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-size: 14px;
  color: var(--border-top-color);
  font-weight: 500;
  line-height: 1.1721;
  letter-spacing: 0.02em;
  transition: var(--transition-timing-function);
  transition: var(--transition-duration);
}
.menu__item:hover, .menu__item:focus {
  color: var(--logo-color-blue-blue);
}

.menu__item::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -1px;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0);
  transition: var(--transition-timing-function);
  transition: var(--transition-duration);
}

.menu__item:hover::after,
.menu__item:focus::after {
  background-color: var(--logo-color-blue-blue);
}

.mailto-menu {
  display: flex;
  align-items: center;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: var(--transition-timing-function);
  transition: var(--transition-duration);
}
.mailto-menu:hover, .mailto-menu:focus {
  color: var(--logo-color-blue-blue);
}

.icon-envelope {
  fill: #757575;
  transition: var(--transition-timing-function);
  transition: var(--transition-duration);
}

.icon-smartphone {
  fill: #757575;
  transition: var(--transition-timing-function);
  transition: var(--transition-duration);
}

.mailto-menu:hover .icon-envelope,
.mailto-menu:focus .icon-envelope {
  fill: var(--logo-color-blue-blue);
}

.mailto-menu:hover .icon-smartphone,
.mailto-menu:focus .icon-smartphone {
  fill: var(--logo-color-blue-blue);
}

.menu__current {
  color: var(--logo-color-blue-blue);
  position: relative;
  transition-property: color;
}
.menu__current:hover, .menu__current:focus {
  color: var(--logo-color-blue-blue);
}

.menu__current::after {
  background-color: var(--logo-color-blue-blue);
}

.mailto {
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  margin-left: 305px;
}

.smartphone:hover,
.smartphone:focus {
  fill: var(--logo-color-blue-blue);
}

.mailto-menu__smart {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-text-color);
  margin-right: 10px;
}
.mailto-menu__smart:hover, .mailto-menu__smart:focus {
  fill: var(--logo-color-blue-blue);
}

.br-smart {
  margin-left: 30px;
}

.list-mp {
  list-style: none;
  display: flex;
}

.menu:not(:last-child) {
  margin-right: 50px;
}

.list:not(:last-child) {
  margin-right: 30px;
}

.tel {
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.business-title {
  width: 696px;
  margin: auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-header-background-size);
}

.business {
  background-color: var(--main-background-hooter-color);
  width: 1600px;
  margin: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/imgoverlay.jpg);
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
  background-repeat: no-repeat;
  background-position: center;
}

.business-button {
  background-color: var(--logo-color-blue-blue);
  font-family: var(--font-roboto);
  color: var(--main-header-background-size);
  font-weight: var(--font-weight700);
  font-style: var(--font-style);
  border: none;
  min-width: 50px;
  padding: 10px 32px;
  border-radius: 4px;
  cursor: pointer;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  margin: auto;
  margin-top: 50px;
  transition: var(--transition-timing-function);
  transition: var(--transition-duration);
}
.business-button:hover, .business-button:focus {
  background-color: var(--homepage-button-color);
}

.section-card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background-color: #F5F4FA;
}

.card {
  margin-top: 30px;
  font-weight: var(--font-weight700);
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.section-card-text {
  margin-top: 10px;
  font-size: 14px;
  font-weight: var(--font-weight400);
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.section__title {
  margin-bottom: 50px;
  font-weight: var(--font-weight700);
  font-size: var(--font-size36);
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.technic-card-img {
  width: 370px;
  height: 294px;
}

.box-technic {
  position: relative;
}

.technic-card-text {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-header-background-size);
}

.technic-card {
  align-items: center;
  justify-content: center;
  border: transparent;
}

.social-link {
  margin-top: 16px;
  justify-content: space-between;
}

.social-link:not(:last-child) {
  margin-right: 10px;
}

.socail-list-icon {
  fill: #AFB1B8;
}

.socail-list-icon {
  transition: fill var(--transition-timing-function);
  transition: fill var(--transition-duration);
}
.socail-list-icon:hover .socail-list-icon, .socail-list-icon:focus .socail-list-icon {
  fill: var(--main-header-background-size);
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.list-link-br {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--main-header-background-size);
  transition: var(--transition-timing-function);
  transition: var(--transition-duration);
}
.list-link-br:hover, .list-link-br:focus {
  background-color: var(--logo-color-blue-blue);
}

.card-item__name {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.card-item__job {
  margin-top: 10px;
  font-weight: var(--font-weight400);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.card-title {
  border: transparent;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.primary {
  background-color: #F5F4FA;
}

.card-item {
  background-color: var(--main-header-background-size);
  padding: 30px;
}

.client-list-icon {
  fill: #AFB1B8;
  transition: fill var(--transition-timing-function);
  transition: fill var(--transition-duration);
}
.client:hover .client-list-icon, .client:focus .client-list-icon {
  fill: var(--logo-color-blue-blue);
}

.client {
  display: flex;
  width: 170px;
  height: 92px;
  align-items: center;
  justify-content: center;
  border: transparent;
  border: solid 1px #AFB1B8;
  border-radius: 4px;
  cursor: pointer;
  transition: var(--transition-timing-function);
  transition: var(--transition-duration);
}
.client:hover, .client:focus {
  border-color: var(--logo-color-blue-blue);
}

.mnb-client {
  width: 106px;
  right: 60px;
  background-color: var(--main-header-background-size);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--main-background-hooter-color);
}

.footer-wrapper {
  display: flex;
  align-items: baseline;
}

.footer-wrapper-item {
  margin-right: 70px;
}

.footer-icon {
  fill: var(--main-header-background-size);
}

.footer-networks-social {
  margin-top: 20px;
  justify-content: space-between;
}
.footer-networks-social:not(:last-child) {
  margin-right: 10px;
}

.footer-networks {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 20px;
}

.footer-networks-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: var(--transition-timing-function);
  transition: var(--transition-duration);
}
.footer-networks-link:hover, .footer-networks-link:focus {
  background-color: var(--logo-color-blue-blue);
}

.list-linkrem-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: var(--transition-timing-function);
  transition: var(--transition-duration);
}
.list-linkrem-footer:hover, .list-linkrem-footer:focus {
  background-color: var(--logo-color-blue-blue);
}

.logo-footer {
  text-decoration: none;
  display: flex;
  margin-bottom: 20px;
}

.logo-footer-studio {
  font-family: "Raleway";
  font-weight: var(--font-weight700);
  font-size: var(--font-size26);
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-header-background-size);
}

.address {
  font-style: var(--font-style);
  font-weight: var(--font-weight400);
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-header-background-size);
}

.footer-contact {
  margin-top: 9px;
  font-style: var(--font-style);
  font-weight: var(--font-weight400);
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.portfolio {
  flex-wrap: wrap;
  gap: 30px;
  box-sizing: content-box;
}

.team-list__wrapper {
  position: relative;
  overflow: hidden;
}

.team-list {
  text-decoration: none;
  display: block;
}

.team-list:hover,
.team-list:focus {
  box-shadow: var(--shadow);
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  background-color: rgba(33, 150, 243, 0.9);
  padding-left: 24px;
  padding-top: 63px;
  padding-right: 24px;
  padding-bottom: 63px;
  transform: translate(0, 100%);
  transition: var(--transition-timing-function);
  transition: var(--transition-duration);
}

.team-list:hover .overlay,
.team-list:focus .overlay {
  transform: translate(0, 0);
}

.productweb {
  padding: 20px 24px 20px 24px;
  border: solid 1px #EEEEEE;
}

.product {
  font-weight: var(--font-weight700);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--border-top-color);
}

.web {
  font-weight: var(--font-weight400);
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* ============================================== */
.sectportfolio {
  padding-bottom: 104px;
  padding-top: 84px;
}

.button-portolio {
  margin-left: 8px;
  border: none;
  font-family: var(--font-roboto);
  background-color: var(--main-background-section-button);
  color: var(--main-header-color);
  font-weight: var(--font-weight500);
  font-size: 16px;
  line-height: 1.65;
  padding: 6px 22px;
  border-radius: 4px;
  letter-spacing: 0.03em;
  transition: var(--transition-timing-function);
  transition: var(--transition-duration);
}
.button-portolio:hover, .button-portolio:focus {
  background-color: var(--logo-color-blue-blue);
  color: var(--main-header-background-size);
  box-shadow: var(--shadow);
}

.backdrop {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: var(--transition-timing-function);
  transition: var(--transition-duration);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: relative;
  width: 528px;
  height: 581px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: var(--shadow);
  padding: 40px;
}

.modal-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--main-background-section-two);
  padding: 0;
  transition: border-color var(--transition-timing-function);
  transition: border-color var(--transition-duration);
}
.modal-close-btn:hover, .modal-close-btn:focus {
  border-color: var(--logo-color-blue-blue);
}

.modal-close-btn:hover .modal-close-btn-icon,
.modal-close-btn:focus .modal-close-btn-icon {
  fill: var(--logo-color-blue-blue);
}

.modal-close-btn-icon {
  transition: fill var(--transition-timing-function);
  transition: fill var(--transition-duration);
}

.current-page {
  color: var(--accent-color);
  position: relative;
  transition-property: color;
}
.current-page:hover, .current-page:focus {
  color: var(--logo-color-blue-blue);
}

.current-page::after {
  background-color: var(--accent-color);
}

.current-page:hover::after,
.current-page:focus::after {
  background-color: var(--logo-color-blue-blue);
}

.form-heading {
  text-align: center;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-field {
  margin-bottom: 16px;
}

.modal-form-input-desc {
  display: block;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 4px;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.modal-form-input-wrapper {
  display: block;
  position: relative;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color var(--transition-timing-function);
  transition: border-color var(--transition-duration);
}
.modal-form-input:hover {
  outline: none;
  border-color: var(--logo-color-blue-blue);
}

/* =================================иконки============================================= */
.modal-form-input-icon {
  position: absolute;
  display: block;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  background-color: var(--main-header-background-size);
  transition: border-color var(--transition-timing-function);
  transition: border-color var(--transition-duration);
}

/* =================================иконки============================================= */
.modal-form-input:focus + .modal-form-input-icon,
.modal-form-input:hover + .modal-form-input-icon {
  fill: var(--logo-color-blue-blue);
  transition: fill var(--transition-timing-function);
  transition: fill var(--transition-duration);
}

.modal-form-message {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  height: 120px;
  padding: 10px 16px;
  resize: none;
  border-radius: 4px;
  transition: border-color var(--transition-timing-function);
  transition: border-color var(--transition-duration);
}
.modal-form-message:focus, .modal-form-message:hover {
  border-color: var(--logo-color-blue-blue);
}

.modal-form-message::placeholder {
  font-size: 14px;
  color: var(--primary-text-color);
  transition: border-color var(--transition-timing-function);
  transition: border-color var(--transition-duration);
}

.modal-form-check-desc {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  color: var(--primary-text-color);
}

.modal-form-check:focus ~ .modal-form-check-desc {
  color: var(--logo-color-blue-blue);
}

.modal-form-check-desc::before {
  display: flex;
  width: 16px;
  height: 15px;
  content: "";
  cursor: pointer;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='15' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M14 2v11H2V2h12Zm0-2H2L0 2v11l2 2h12l2-2V2l-2-2Z' fill='%23212121'/%3e%3c/svg%3e");
  margin-right: 10px;
}

.modal-form-check:checked + .modal-form-check-desc::before {
  border-color: var(--logo-color-blue-blue);
  background-color: var(--logo-color-blue-blue);
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='13' height='10' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M2 5 1 6l3 3h1l7-7-1-1-7 6-2-2Z' fill='%23fff' stroke='%23fff' stroke-width='.2'/%3e%3c/svg%3e");
}

.modal-form-submit {
  font-weight: 700;
  padding: 10px 55px;
  border-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: var(--main-header-background-size);
  background-color: #2196F3;
  border: #2196F3;
  min-width: 160px;
  align-self: center;
  transition: var(--transition-timing-function);
  transition: var(--transition-duration);
  box-shadow: var(--shadow);
}
.modal-form-submit:hover, .modal-form-submit:focus {
  background-color: var(--homepage-button-color);
  color: #ffffff;
  box-shadow: var(--shadow);
}

.linkk {
  color: #2196F3;
  border-bottom: 1px solid currentColor;
  display: inline-block;
  line-height: 0.85;
}

.visually-hidden {
  position: absolute;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.email-form {
  margin-left: auto;
  color: var(--main-background-section-button);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.1428;
  font-style: normal;
}

.email-form p {
  margin: 20px;
}

.email-form .button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  padding: 10px 28px;
  margin-left: 12px;
  font-weight: 700;
  color: currentColor;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  border: none;
  text-align: center;
  transition: var(--transition-timing-function);
  transition: var(--transition-duration);
}
.email-form .button:hover, .email-form .button:focus {
  background-color: #188ce8;
}

.email-form-icon {
  fill: currentColor;
  margin-left: 10px;
}

.input {
  outline: none;
  color: currentColor;
  background-color: transparent;
  padding: 14px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  width: 358px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.email-form .input:hover,
.email-form .input:focus {
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.email-form .input::placeholder {
  color: rgba(255, 255, 255, 0.3);
}/*# sourceMappingURL=main.css.map */