.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--main-background-hooter-color);
}
.footer-wrapper {
  display: flex;
  align-items: baseline;
}
.footer-wrapper-item {
  margin-right: 70px;
}
.footer-icon {
  fill: var(--main-header-background-size);
}
.social-link-foo {
  margin-top: 20px;
  justify-content: space-between;
  &:not(:last-child) {
      margin-right: 10px;
    }
}
.name-footer {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.list-linkrem-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: var(--transition-timing-function);
  transition: var(--transition-duration);
      &:hover,
      &:focus {
        background-color: var(--logo-color-blue-blue);
      }
}
.logofooter {
  text-decoration: none;
  display: flex;
  margin-bottom: 20px;
}
.logo-studio-footer {
  font-family: 'Raleway';
  font-weight: var(--font-weight700);
  font-size: var(--font-size26);
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-header-background-size);
}
.address {
  font-style: var(--font-style);
  font-weight: var(--font-weight400);
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-header-background-size);
}
.tel-footer {
  margin-top: 9px;
  font-style: var(--font-style);
  font-weight: var(--font-weight400);
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}