.menu-item {
  position: relative;
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-size: 14px;
  color: var(--border-top-color);
  font-weight: 500;
  line-height: 1.1721;
  letter-spacing: 0.02em;
  transition: var(--transition-timing-function);
  transition: var(--transition-duration);
    &:hover,
    &:focus {
      color: var(--logo-color-blue-blue);
    }
}
.menu-item::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -1px;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0);
  transition: var(--transition-timing-function);
  transition: var(--transition-duration);
}
.menu-item:hover::after,
.menu-item:focus::after {
  background-color: var(--logo-color-blue-blue);
}
.menu-item-van {
  display: flex;
  text-decoration: none;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: var(--transition-timing-function);
  transition: var(--transition-duration);
    &:hover,
    &:focus {
      color: var(--logo-color-blue-blue);
    }
}
.icon-envelope {
  fill: #757575;
      transition: var(--transition-timing-function);
      transition: var(--transition-duration);
}

.icon-smartphone {
  fill: #757575;
    transition: var(--transition-timing-function);
    transition: var(--transition-duration);
}
.menu-item-van:hover .icon-envelope,
.menu-item-van:focus .icon-envelope {
  fill: var(--logo-color-blue-blue);
}
.menu-item-van:hover .icon-smartphone,
.menu-item-van:focus .icon-smartphone {
  fill: var(--logo-color-blue-blue);
}
.current-li {
  color: var(--logo-color-blue-blue);
  position: relative;
  transition-property: color;
    &:hover,
    &:focus {
    color: var(--logo-color-blue-blue);
  }
}
.current-li::after {
  background-color: var(--logo-color-blue-blue);
}
