.mailto {
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  margin-left: 305px;
}
.smartphone:hover,
.smartphone:focus {
  fill: var(--logo-color-blue-blue);
}
.mailto-menu__smart {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-text-color);
    margin-right: 10px;
    &:hover,
    &:focus {
      fill: var(--logo-color-blue-blue);
    }
  }

.br-smart {
  margin-left: 30px;
}
.list-mp {
  list-style: none;
  display: flex;
}
.menu:not(:last-child) {
  margin-right: 50px;
}
.list:not(:last-child) {
  margin-right: 30px;
}
.tel {
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}


