.mailto {
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  margin-left: 305px;
}

// .itemrem {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   color: var(--primary-text-color);
// }
// .yur {
//   margin-right: 10px;
// }

// .smartphone {
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }
.mailto__menu__smart 
.itemrem {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-text-color);
}
.smartphone {
  margin-right: 10px;
    &:hover,
    &:focus {
      fill: var(--logo-color-blue-blue);
    }
}

// .smartphone:hover,
// .smartphone:focus {
//   fill: var(--logo-color-blue-blue);
// }
.br_smart {}

// .smartphone {
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }
.smartphone:hover,
.smartphone:focus {
  fill: var(--logo-color-blue-blue);
}
.smart {
  margin-left: 30px;
}
// .list-mp {
//   list-style: none;
//   display: flex;
// }
.menu:not(:last-child) {
  margin-right: 50px;
}
// .list:not(:last-child) {
//   margin-right: 30px;
// }
.tel {
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}


