
.sectportfolio {
  padding-bottom: 104px;
  padding-top: 84px;
  
}
.button-portolio {
  margin-left: 8px;
  border: none;
  font-family: var(--font-roboto);
  background-color: var(--main-background-section-button);
  color: var(--main-header-color);
  font-weight: var(--font-weight500);
  font-size: 16px;
  line-height: 1.65;
  padding: 6px 22px;
  border-radius: 4px;
  letter-spacing: 0.03em;
  transition: var(--transition-timing-function);
  transition: var(--transition-duration);
    &:hover,
    &:focus {
      background-color: var(--logo-color-blue-blue);
      color: var(--main-header-background-size);
      box-shadow: var(--shadow);
    }
}

// .one {
//   margin-left: 280px;
// }
